:root {
  font-family: $main-font;
  line-height: 1.5;
  font-weight: 400;

  color: $text-main;
  background-color: $bg-light;

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  background-color: $bg-soft;
  overflow-x: hidden;
}
