:root {
  font-family: $main-font;
  line-height: 1.5;
  font-weight: 400;

  color: $text-main;
  background-color: $bg-light;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  background-color: $bg-soft;
}

h1,
h2,
h3 {
  color: $text-primary;
  margin-top: 0;
}

p {
  color: $text-main;
}

small,
.muted {
  color: $text-muted;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: $base-padding;
}
